@charset "utf-8";
// 这里只能写 icon 的宽 高 坐标

.icon{
  display: inline-block;
  background: url(./images/icon@2x.png);
  background-size: 500px;
}

.logo-mbheader{
  width: 116px;
  height: 16px;
  background-position: -884px -39px;
}

.icon-search-m{
  width: 19px;
  height: 19px;
  background-position: 0 -64px;
}
.icon-menu{
  background-position: -52px -38px;
  width: 18px;
  height: 16px;
}
.icon-inspiration{
  width: 30px;
  height: 34px;
  background-position: -91px -131px;
}
.icon-homedecoration{
  width: 27px;
  height: 32px;
  background-position: -131px -131px;
}
.icon-bedroom{
  width: 34px;
  height: 27px;
  background-position: -168px -131px;
}
.icon-kitchen{
  width: 35px;
  height: 29px;
  background-position: -214px -132px;
}
.icon-bathroom{
  width: 34px;
  height: 27px;
  background-position: -258px -132px;
}
.icon-sittingroom{
  width: 35px;
  height: 21px;
  background-position: -303px -131px;
}
.icon-restaurant{
  width: 35px;
  height: 22px;
  background-position: -348px -131px;
}
.icon-schoolroom{
  width: 35px;
  height: 28px;
  background-position: -392px -131px;
}
.icon-childrenroom{
  width: 37px;
  height: 31px;
  background-position: -437px -131px;
}
.icon-dailyuse{
  width: 19px;
  height: 35px;
  background-position: 0 -152px;
}
.icon-arrow-up{
  width: 16px;
  height: 9px;
  background-position: -150px -173px;
}
.icon-arrow-down{
  width: 16px;
  height: 9px;
  background-position: -125px -173px;
}
.icon-arrow-right{
  width: 6px;
  height: 11px;
  background-position: -176px -172px;
}

.icon-decorate-small{
  width: 16px;
  height: 18px;
  background-position: -182px -197px;
}

.icon-kitchen-small{
  width: 20px;
  height: 16px;
  background-position: -207px -197px;
}

.icon-sofa-small{
  width: 20px;
  height: 14px;
  background-position: -236px -197px;
}

.icon-dailyuse-small{
  width: 10px;;
  height: 18px;
  background-position: -265px -197px;
}

.icon-arrow-left{
  width: 10px;
  height: 16px;
  background-position: -234px 0;
}

.icon-myaccount{
  width: 20px;
  height: 20px;
  background-position: -129px -38px;
}

.icon-arrow-r{
  width: 9px;
  height: 17px;
  background-position: -254px 0;
}

.icon-search{
  width: 20px;
  height: 20px;
  background-position: -130px -197px;
}

@media (max-width: 1024px){

}
@media (max-width: 767px){}
